nav {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

nav li a:hover {
  color: #0077ff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  color: #333;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}


body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

h1 {
	color: #0077ff;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
	height: auto;
}
